# Compiled files
*.tfstate
*.tfstate.backup
*.terraform.tfstate.lock.info

# Possible sensitive information
terraform.tfvars

# Module directory
.terraform/

# IDE
.idea
.vscode
.DS_Store

# K8S
*.conf
